.stacked-bar-graph {
  width: 100%;
  height: 38px;
  color: #414042;
}
.stacked-bar-graph span {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  float: left;
  font-weight: bold;
  font-family: arial, sans-serif;
  padding: 10px;
}
.stacked-bar-graph .bar-1 {
  background: #F7B334;
}
.stacked-bar-graph .bar-2 {
  background: #A7A9AC;
}
.stacked-bar-graph .bar-4 {
  background: #D57E00;
}
